{# progress bar showing apilayer quota #}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-label="Default striped example" style="width: {{ width }}%" aria-valuenow="{{ valuenow }}"
        aria-valuemin="0" aria-valuemax="{{ valuemax }}" id="quotabar">
        {{ label }}
    </div>
</div>
